<html>
<head>
    <title>Application météo</title>

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>

    <script src="js/ws_meteo.js"></script>
</head>
<body>
<h1>Application météo</h1>

<div>
    <label for="cp">Code Postal</label>
    <input id="cp" placeholder="10 000">
    <button onclick="meteoRequest()">Récupérer la météo</button>
</div>

<div id="meteo-answer">

</div>

</body>
</html>